<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/gerickson/Dev/Doom3</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-03-24T06:36:19Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/gerickson/Dev/Doom3/neo/sys/osx/build/Debug/Doom 3.app</string>
		<string>/Developer/SDKs/MacOSX10.4u.sdk/System/Library/Frameworks/OpenGL.framework</string>
		<string>/Users/gerickson/Dev/Doom3/neo/sys/osx/build/Debug/libidlib_nopic.a</string>
		<string>/Users/gerickson/Dev/Doom3/neo/sys/osx/build/Debug/libidlib_pic.a</string>
		<string>/Developer/SDKs/MacOSX10.4u.sdk/System/Library/Frameworks/Carbon.framework</string>
		<string>/Users/gerickson/Dev/Doom3/neo/sys/osx/build/Debug/game.dylib</string>
		<string>/Developer/SDKs/MacOSX10.4u.sdk/System/Library/Frameworks/CoreAudio.framework</string>
		<string>/Developer/SDKs/MacOSX10.4u.sdk/System/Library/Frameworks/IOKit.framework</string>
		<string>/Users/gerickson/Dev/Doom3/neo/sys/osx/build/Debug/liboggVorbis_nopic.a</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
